<div class="container">
    <h1 class="my-4">Noticias favoritas</h1>
  
    <div class="row">
      <div class="col-8">
        <label for="buscar">Buscar noticia:</label>
        <div class="input-group mb-3">
         
          <input type="text" class="form-control"   [(ngModel)]="buscarNoticia">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" (click)="buscar()">Buscar</button>
          </div>
        </div>
      </div>
      <div class="col-4">
        <label for="orderBySelect">Ordenar por:</label>
      <select id="orderBySelect"  (change)="buscar()" [(ngModel)]="ordernarPor" class="form-control">
        <option value="asc">Más reciente</option>
        <option value="desc">Más antigua</option> 
      </select>
      </div>
   
  
    
  
    <div class="row"> 
      <div class="col-md-4" *ngFor="let noticia of listado | paginate: { itemsPerPage: 10, currentPage: paginaActual, totalItems: totalNoticias }">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top" src="{{ noticia.urlImagen }}" alt="{{ noticia.titulo }}">
          <div class="card-body">
            <h2 class="card-title">{{ noticia.titulo }}</h2>
            <p class="card-text">{{ noticia.resumen }}</p>
            <p class="card-text">
              <small class="text-muted">Guardado {{ noticia.guardado | date:'dd MMM yyyy' }}</small>
            </p>
            <button class="btn btn-primary" (click)="quitarFavoritos(noticia.codigo)">Quitar de Favoritos</button>
          </div>
        </div>
      </div>
    </div>
  
    <div class="pagination-container">
      <pagination-controls 
        [(ngModel)]="paginaActual"
        previousLabel="Anterior"
                        nextLabel="Siguiente"
        (pageChange)="cambiarPagina($event)"
       
        class="my-pagination">
      </pagination-controls>
    </div>
  </div>
  <div *ngIf="cargando" class="text-center" style="position: fixed;top: 0;left: 0;width: 100%;background: rgba(0,0,0,0.5); height: 100%;">
    <p>Cargando noticias...</p>
    <div class="spinner-border" role="status"> 
    </div>
  </div>